DATABASE_URL="postgresql://neondb_owner:SENHA@ep-delicate-leaf-aiosebd9-pooler.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&schema=yuri_naila"
DIRECT_URL="postgresql://neondb_owner:SENHA@ep-delicate-leaf-aiosebd9.c-4.us-east-1.aws.neon.tech/neondb?sslmode=require&schema=yuri_naila"

ADMIN_PASSWORD="sua_senha_de_admin"
NEXTAUTH_SECRET="sua_chave_secreta"
NEXTAUTH_URL="http://localhost:3000"
